$default-font-size: 1.6rem; // to make it 14 px
$font-size-medium: 2rem; // to make it 14 px

// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #757575;
$color-grey-light-4: #beadad;

$color-black-light-1: rgb(10,10,10);

$color-white-light-1: #ffffff;

$color-green-light-1: #04B2D9;

$color-navy-light-1: #001a33;

$color-orange-light-1: #F2B705;

// app container
$app-max-width: 120rem;


// sizes
$size-mini-small: 1rem;
$size-small: 1.5rem;
$size-medium: 4rem;
$size-big: 8rem;

$header-height: 10vh;