$default-font-size: 1.6rem; // to make it 14 px


// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-black-light-1: rgb(10,10,10);


// app container
$app-max-width: 120rem;


// sizes
$size-mini-small: 1rem;
$size-small: 1.5rem;
$size-medium: 4rem;
$size-big: 8rem;

$header-height: 10vh;