.columns {
    display: flex;
    
    .column {
        display: block;
        padding: $size-small;

        @include respond(tab-port) { // width < 900?
            padding: $size-mini-small; //1 rem = 8px, 8/16 = 50%
        }
    }

    .col-1-of-2 {
        width: 50%;
    }

    .col-1-of-4 {
        width: 25%;
    }

    .col-1-of-10 {
        width: 10%;
    }
}