.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        background-color: transparent;
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &-primary {
        &:hover {
            background-color: $color-green-light-1;
            color: $color-white-light-1;
        }
    }
    

    &--outline {
        border: 1px solid $color-grey-light-4;
    }
    
    &--ellipsis {
        border-radius: 10rem;
    }

    &--rounded {
        border-radius: 50%;
    }

    // &:active,
    // &:focus {
    // }
    
    // &--white {
    //     // background-color: $color-white;
    //     // color: $color-grey-dark;
    // }

    // &--primary {
    //     background-color: $color-primary;
    //     color: $color-white;
    // }
}

// .btn-text {
    
// }