$card-shadow: 0 0.5em 1em -0.125em rgba($color-black-light-1, .1), 0 0 0 1px rgba($color-black-light-1, .2);

.card {
    box-shadow: $card-shadow;
    max-width: 100%;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    font-size: $default-font-size;
    
    &:hover {
        transform: scale(1.025);
        transition: transform 0.3s;
    }

    &-image {
      display: block;
      position: relative;
    }
  
    &-content {
      // background-color: aqua;
      flex: 1;
      padding: $size-small;
    }

    &-footer {
      border-top: 1px solid $color-grey-light-4;
    }
}